12. Time Series Analysis
- Convert a column in a DataFrame to a time series using Pandas and perform a NumPy-based operation on the time series data.
- Calculate the moving average of a time series in a DataFrame using a combination of Pandas and NumPy functions.
- Use pd.to_datetime to convert a string column to datetime format and use NumPy to compute the time difference between rows.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({
    'date': pd.date_range('2023-01-01', periods=10),
    'value': np.arange(10)
})
ts = pd.Series(df['value'].values, index=df['date'])
ts_np = np.log(ts + 1)
ts_np

In [ ]:
moving_avg = pd.Series(np.convolve(df['value'], np.ones(3)/3, mode='valid'))
moving_avg

In [ ]:
df2 = pd.DataFrame({
    'date_str': ['2023-01-01', '2023-01-02', '2023-01-04', '2023-01-07'],
    'value': [10, 20, 30, 40]
})
df2['date'] = pd.to_datetime(df2['date_str'])
df2['timedelta'] = np.diff(df2['date'].values, prepend=df2['date'].values[0])
df2